<footer id="contact" class='site-footer' id='footer'>
    <div class=''>
        <div class='container'>
            <div class='row'>
                <div class='col-xl-4 col-lg-4'>
                    <div class='widget widget_about'>
                        <div class='widget widget_getintuch'>
                            <ul>
                                <li>
                                    <i class='flaticon-placeholder'></i>
                                    <span style='color: black'>Côte d'Ivoire, Abidjan,</span><br>
                                    <span style='color: black'>SEBROKO ancien ONUCI</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='col-xl-4 col-lg-4'>
                    <div class='widget widget_about'>
                        <div class='widget widget_getintuch'>
                            <ul>
                                <li>
                                    <i class='flaticon-telephone'></i>
                                    <span style='color: black'>+225 01-03-88-87-93</span><br>
                                    <span style='color: black'>+225 05-65-39-04-59</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='col-xl-4 col-lg-4'>
                    <div class='widget widget_about'>
                        <div class='widget widget_getintuch'>
                            <ul>
                                <li>
                                    <i class='flaticon-email'></i>
                                    <span style='color: black'>e2c.tic.ci@gmail.com</span><br>
                                    <span style='color: black'>etfpa.daip@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='footer-bottom bg-white'>
            <div class='row align-items-center'>
                <div class='col-lg-6 col-md-8 text-md-start text-center mb-md-0 mb-3'>
                    <a href='{{ path('app_home') }}'><img src='{{ asset('front/image/logo.png') }}' style='width: 120px' alt=''/></a> &nbsp; <span class='copyright-text'>Copyright © 2024. Tous droits réservés.</span>
                </div>
                <div class='col-lg-6 col-md-4 text-md-end text-center'>
                    <div class='dz-social-icon'>
                        <ul>
                            <li><a class='fab fa-youtube' target='_blank' href='https://www.youtube.com/channel/UCpzL2618RoQtoMTuywLz_aA'></a></li>
                            <li><a class='fab fa-facebook-f' target='_blank' href='https://www.facebook.com/METFPADAIP'></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
